.h5peditor-portfolio-placeholder {
  .h5peditor-portfolio-placeholder-no-display {
    display: none;
  }
}

.libwrap.h5p-portfolioplaceholder-editor {
  .form-manager-head:not(.form-manager-footer) {
    display: none;
  }

  .field-name-extraTitle {
    margin-top: 0;
  }
}
