.h5peditor-portfolio-placeholder {
  padding-top: 1em;

  .h5peditor-portfolio-placeholder-contents {
    box-shadow: 0 0 2px 2px rgb(128 128 128 / 15%) inset;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding: .5em;

    .h5peditor-portfolio-placeholder-layout-template {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      height: 100%;
      width: 100%;

      .h5peditor-portfolio-placeholder-layout-template-row {
        display: flex;
        flex-direction: row;
        gap: 0.5em;

        .h5peditor-portfolio-placeholder-layout-template-col {
          background-color: #ffffff;
          border: 1px solid transparent;
          box-sizing: border-box;
          float: left;
          height: 100%;
          min-height: 6em;
          overflow: hidden;
          padding: 0;
          position: relative;
          cursor: pointer;

          &:hover {
            border: 1px solid #53a0ff;
            outline: none;
          }

          &:focus {
            border: 1px solid #53a0ff;
            outline: none;
          }

          &:not(.has-preview) {
            background-color: #ddd;

            &::before {
              color: #666;
              content: "+";
              cursor: pointer;
              font-size: 4em;
              font-weight: bold;
              left: 50%;
              position: absolute;
              top: 50%;
              transform: translate(-50%, -50%);
            }
          }

          .h5p-editor-placeholder-instance-preview {
            height: 100%;
            left: 0;
            overflow: hidden;
            overflow-y: auto;
            position: absolute;
            top: 0;
            width: 100%;

            .h5p-editor-placeholder-instance-blocker {
              height: 100%;
              left: 0;
              position: absolute;
              top: 0;
              width: 100%;
            }

            .h5p-editor-placeholder-instance-wrapper {
              height: 100%;
              left: 0;
              padding: 0;
              position: absolute;
              top: 0;
              width: 100%;

              .h5p-editor-placeholder-instance {
                position: absolute;
                top: 0;
                left: 0;
              }
            }
          }
        }
      }
    }
  }
}
