@import './../../../styles/h5peditor-portfolio-placeholder-main';

.h5peditor-portfolio-placeholder-size-slider {
  background-color: transparent;
  cursor: col-resize;
  margin: 0.125em;
  width: 1em;

  &.sliding {
    &::before {
      background: linear-gradient(90deg, rgba(80 80 80 / 0) 10%, rgba(80 80 80 / 1) 50%, rgba(80 80 80 / 0) 90%);
    }
  }

  &:hover:not(.sliding) {
    &::before {
      background: linear-gradient(90deg, rgba(128 128 128 / 0) 10%, rgba(128 128 128 / 1) 50%, rgba(128 128 128 / 0) 90%);
    }
  }

  &::before {
    background: linear-gradient(90deg, rgba(204 204 204 / 0) 10%, rgba(204 204 204 / 1) 50%, rgba(204 204 204 / 0) 90%);
    content: "";
    display: block;
    height: 100%;
  }
}
