@import "@styles/h5peditor-portfolio-placeholder-main";

.h5peditor-portfolio-placeholder-contents-wrapper {

  .h5peditor-portfolio-placeholder-contents {
    box-shadow: 0 0 2px 2px $form-manager-box-shadow inset;
    display: flex;
    flex-direction: row;
    margin-top: .5em;
    overflow: hidden;
    padding: .5em;

    .h5peditor-portfolio-placeholder-layout-template {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      height: 100%;
      width: 100%;

      &.sliding {
        cursor: col-resize;
      }

      .h5peditor-portfolio-placeholder-layout-template-row {
        cursor: inherit;
        display: flex;
        flex-direction: row;

        .h5peditor-portfolio-placeholder-layout-template-col {
          background-color: #ffffff;
          border: 1px solid transparent;
          box-sizing: border-box;
          float: left;
          height: 100%;
          min-height: 6em;
          overflow: hidden;
          padding: 0;
          position: relative;
          cursor: pointer;

          &:hover {
            border: 1px solid #53a0ff;
            outline: none;
          }

          &:focus {
            border: 1px solid #53a0ff;
            outline: none;
          }
        }
      }
    }
  }
}
