@import './../../styles/h5peditor-portfolio-placeholder-main';

.h5peditor-portfolio-placeholder-layout-template-button {
  background-color: $background-color;
  border: .25em solid transparent;
  box-sizing: border-box;
  cursor: inherit;
  float: left;
  height: 100%;
  min-height: 6em;
  overflow: hidden;
  padding: 0;
  position: relative;

  &:not(.disabled) {
    cursor: pointer;

    &:hover {
      border: .25em solid $base-color-50;
      outline: none;
    }

    &:focus {
      border: .25em solid $base-color-50;
      outline: none;
    }
  }

  &.h5peditor-portfolio-placeholder-over {
    border: .25em solid $base-color-90;
  }

  &.h5peditor-portfolio-placeholder-selected {
    border: .25em solid $base-color-90;
    box-shadow: 0 0 0.5em 0 $dark-grey-20;
  }

  &:not(.has-preview) {
    background-color: $base-color-10;

    &::before {
      color: $base-color;
      content: "+";
      cursor: pointer;
      font-size: 4em;
      font-weight: bold;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .h5p-editor-placeholder-instance-preview {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: 0;
    width: 100%;

    &.h5p-editor-placeholder-instance-hidden {
      .h5p-editor-placeholder-instance-blocker {
        font-family: "H5PFontAwesome4";

        &::before {
          color: $base-color;
          content: "\f023";
          font-size: 3em;
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .h5p-editor-placeholder-instance-wrapper {
        opacity: .3;
      }
    }

    .h5p-editor-placeholder-instance-blocker {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 10;
    }

    .h5p-editor-placeholder-instance-wrapper {
      height: 100%;
      left: 0;
      padding: 0;
      position: absolute;
      top: 0;
      width: 100%;

      .h5p-editor-placeholder-instance {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;

        &.h5p-image {
          height: auto;
        }

        &.h5p-video {
          height: auto;
        }

        &.h5p-collage .h5p-collage-wrapper {
          height: 100%;
          min-height: 12em;
        }

        &.h5p-image-hotspot-question:before {
          content: ''; /* May be injected by CSS loaded for Image Hotspots */
        }

        &.h5p-interactive-video {
          .h5p-controls {
            display: none;
          }

          .hidden-but-read {
            display: none; /* Prevents proper event.dataTransfer.setDragImage */
          }
        }

        &.h5p-chart .hidden-but-read {
          display: none; /* Prevents proper event.dataTransfer.setDragImage */
        }

        &.h5p-editor-placeholder-no-preview-possible {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
        }
      }
    }
  }
}

.h5peditor-portfolio-placeholder-placeholder {
  background-color: $base-color-40;
  border: .25em dashed $base-color-90;
  border-radius: .3em;
  box-sizing: border-box;
}
