.h5peditor-portfolio-placeholder-layout-template-button {
  background-color: #ffffff;
  border: .25em solid transparent;
  box-sizing: border-box;
  float: left;
  height: 100%;
  min-height: 6em;
  overflow: hidden;
  padding: 0;
  position: relative;
  cursor: pointer;

  &:hover {
    border: .25em solid #53a0ff;
    outline: none;
  }

  &:focus {
    border: .25em solid #53a0ff;
    outline: none;
  }

  &.h5peditor-portfolio-placeholder-over {
    border: .25em solid #6774ff;
    box-shadow: 0 0.1em 0 #b1c5e0;
  }

  &.h5peditor-portfolio-placeholder-selected {
    border: .25em solid #6774ff;
    box-shadow: 0 0 0.5em 0 #6774ff;
  }

  &:not(.has-preview) {
    background-color: #ddd;

    &::before {
      color: #666;
      content: "+";
      cursor: pointer;
      font-size: 4em;
      font-weight: bold;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .h5p-editor-placeholder-instance-preview {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;

    &.h5p-editor-placeholder-instance-hidden {
      .h5p-editor-placeholder-instance-blocker {
        font-family: "H5PFontAwesome4";

        &::before {
          color: #666;
          content: "\f023";
          font-size: 3em;
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .h5p-editor-placeholder-instance-wrapper {
        opacity: .3;
      }
    }

    .h5p-editor-placeholder-instance-blocker {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .h5p-editor-placeholder-instance-wrapper {
      height: 100%;
      left: 0;
      padding: 0;
      position: absolute;
      top: 0;
      width: 100%;

      .h5p-editor-placeholder-instance {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;

        &.h5p-editor-placeholder-no-preview-possible {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
  }
}

.h5peditor-portfolio-placeholder-placeholder {
  background-color: #c7ceff;
  border: .25em dashed #042cff;
  border-radius: .3em;
  box-sizing: border-box;
}
